
body {
  margin: 0px;
  box-sizing: border-box;
  background-color: white;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  font-weight: 700;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

h5 {
   font-family: 'Montserrat', sans-serif;
   font-size: 16px;
   text-transform: uppercase;
 }

h6 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    display: inline;
    padding-top: 2px;
  }

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a {
   text-decoration: none;
   color: black;
}

li {
  list-style-type: none;
}

button {
  background-color: rgba(0,0,0,0);
  border: 1px solid #e85a4f;
  border-radius: 15px;
  padding: 0px 15px;
  cursor: pointer;
}

button:focus {
    outline: 0;
}

button h3 {
  font-weight: 600;
}

button:hover {
  background-color: #e85a4f;
  color: white;
}

button:hover a {
    color: white;
}

.orange {
  color: #e85a4f;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: black;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.navbar img {
  height: 50px;
  object-fit: contain;
  align-self: flex-start;
  padding: 0px 1%;
  display: inline;
}

.navbar .text {
  display: inline;
  text-align: right;
}

.hamburger-checkbox {
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}

.menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: none;
}

.menu a {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  display: inline;
  padding: 20px 20px;
  text-decoration: none;
}


.header {
  background-image: linear-gradient(to right, rgba(234, 231, 220, 1), rgba(234, 231, 220, 0.85), rgba(234, 231, 220, 0.4)), url("./radiationtracks.png");
  background-size: cover;
  padding: 150px 10%;
  height: calc(100vh - 250px);
}

.taglines {
  padding-top: 50px;
}

#introduction {
  padding: 40px 20% 20px 20%;
  margin: 0px;
}

#workflow, #faq, #contact {
  padding: 20px 20%;
  margin: 0px;
}

.line {
  width: 150px;
  height: 1px;
  border-bottom: 3px solid #e85a4f;
  margin-bottom: 5px;
  margin-top: -10px;
}

@media (max-width: 700px) {

  .menu {
    display: none;
  }

  .text {
    height: 100%;
  }

  .hamburger-label {
    display: block;
  }

  .con {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 10px;
  }

  .bar {
    display: block;
    height: 5px;
    width: 50px;
    background: white;
    margin: 10px 0px;
    transition: all 0.1s ease;
  }

  .middle {
    margin: 0 auto;
  }

  .rotate .top {
    transform: translateY(15px) rotateZ(45deg);
  }

  .rotate .bottom {
    transform: translateY(-15px) rotateZ(-45deg);
  }

  .rotate .middle {
    width: 0;
  }

  .hamburger-checkbox:checked + .menu {
    display: flex;
    width: calc(100% - 20px);
    flex-direction: column;
    align-items: flex-start;
    z-index: 10;
    color: black;
    padding-top: 40px;
  }

  .hamburger-checkbox:checked + .menu a {
    display: block;
    width: 100%;
    padding: 18px 10px;
    background-color: black;
  }

  .header {
    height: auto;
  }

  #introduction, #workflow, #faq, #contact {
    padding: 40px 5%;
    margin: 0px;
  }
}
